<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/sagas"></ion-back-button>
    </ion-buttons>

    <ion-title>Detalle Saga</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  @if (fruta$ | async; as fruta) {
    <div class="detail-card">

     
        <img [src]="fruta.filename || '../assets/placeholder.jpg'" [alt]="fruta.name" 
          (error)="$any($event.target).src='../assets/placeholder.jpg'">
      

      <div class="detail-info">
        <h1>{{ fruta.name }}</h1>

        <p class="roman-name">{{ fruta.roman_name }}</p>

        <span class="type-badge">{{ fruta.type }}</span>

        <p class="description">
          {{ fruta.description }}
        </p>
      </div>

    </div>
  }
</ion-content>