<ion-header>
  <ion-toolbar>
    <ion-title>Detalle Fruta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  @if (fruta$ | async; as fruta) {
    <ion-card class="card--fruta-detail">

      <ion-back-button
      defaultHref="/tabs/frutas"
      text=""
       icon="arrow-back">
      </ion-back-button>

      <ion-buttons class="favorite-button" fill="clear" (click)="toggleFavorite(fruta)">
  <ion-icon
    slot="icon-only"
    size="large"
    [name]="isFavorite ? 'heart' : 'heart-outline'"
    [color]="isFavorite ? 'danger' : 'dark'">
  </ion-icon>
</ion-buttons>

      <h1 class="fruta-title">{{ fruta.name }}</h1>
    <img [src]="fruta.filename || '../assets/placeholder.jpg'" [alt]="fruta.name" class="fruit-image"
          (error)="$any($event.target).src='../assets/placeholder.jpg'">// ionic no tiene un componente de imagen, así que usamos una etiqueta img normal con manejo de error para mostrar un placeholder
      <p class="description"> {{ fruta.description }}</p> 

    </ion-card>
  }
</ion-content>


