<ion-header>
  <ion-toolbar>
    <ion-title>Sagas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="page">
    <h1 class="page-title">Sagas</h1>

    <p class="page-subtitle">
      Descubre las Sagas de OnePiece
    </p>
  </div>

   @if (loading) {
    <p class="status-message">Cargando sagas...</p>
  }

  @if (error) {
    <p class="error">{{ error }}</p>
  }

 @if (!loading && apiSagas.length > 0) {
  <div class="card-grid">
    @for (saga of apiSagas; track $index) {
      <div class="card" [routerLink]="['/sagas', saga.id]">
        <h3>{{ saga.title }}</h3>
        <!-- <p><strong>Número de la Saga:</strong> {{ saga.saga_number }}</p>
        <p><strong>Capítulos de la Saga:</strong> {{ cleanText(saga.saga_chapitre) }}</p>
        <p><strong>Volumen de la Saga:</strong> {{ cleanText(saga.saga_volume) }}</p>
        <p><strong>Episodios de la Saga:</strong> {{ cleanText(saga.saga_episode) }}</p> -->
      </div>
    }
  </div>
}

</ion-content>
