<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="sagas" href="/tabs/sagas">
      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
      <ion-label>Sagas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="frutas" href="/tabs/frutas">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
      <ion-label>Frutas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="personajes" href="/tabs/personajes">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>Personajes</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
