
.card--personaje-detail {
  background: #6cc05f;
  padding: 30px 40px;
  width: fit-content;
  margin: 40px auto; 
  font-family: 'Bangers', cursive;
   text-align: center;
   position: relative;
   margin-top: 80px;
}


.card--personaje-detail:hover {
  background: #ffe066;
}

.personaje-title {
  margin-top: 45px;
}

.menu-btn {
  --color: #111827;
  font-size: 28px;
}

.logo {
  height: 60px;
  width:auto;
  position: absolute;
  left: 50%;
  top: 50%;

    transform: translate(-50%, -50%);

  object-fit: contain;
  cursor: pointer;
}

.logo-toolbar {
  --background: #f4e7c5;
  --min-height: 90px;

  position: relative;
}

.logo-title {
  

  left: 50%;
  transform: translateX(-50%);

  width: auto;
  padding: 0;
}

ion-back-button {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 10;

  --color: black;
  --background: rgba(255, 255, 255, 0.8);
  --border-radius: 50%;
  --icon-font-size: 24px;

  width: 48px;
  height: 48px;
}

.favorite-button {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 10;

  background: rgba(255, 255, 255, 0.8);
  border-radius: 50%;

  width: 48px;
  height: 48px;

  display: flex;
  justify-content: center;
  align-items: center;
}