<ion-header>
<ion-toolbar class="logo-toolbar">
<ion-buttons slot="start">
  <ion-menu-button class="menu-btn"></ion-menu-button>
</ion-buttons>
  <ion-title>
    <img
      src="assets/onePiece.jpg"
      class="logo"
      alt="One Piece Logo"
       [routerLink]="['/home']">
  </ion-title>

  <ion-buttons slot="end">
    <ion-button
      class="info-button"
      fill="solid"
      size="small"
      shape = "round"
      color="primary"
      [routerLink]="['/info']">
      Sobre
    </ion-button>
  </ion-buttons>

</ion-toolbar>
  </ion-header>

<ion-content class="ion-padding">

 <ion-searchbar
  class="search-bar"
  placeholder="Buscar personaje"
  (ionInput)="onSearch($event)">
</ion-searchbar>

  <ion-text class="page">
    <h1 class="page-title">Personajes</h1>
    <p class="page-subtitle">Descubre los Personajes de OnePiece</p>
  </ion-text>

 @if (loading) {

  <ion-grid class="loading-container">

    <ion-row class="ion-justify-content-center">

      <ion-col size="12" class="ion-text-center">

        <ion-spinner name="crescent"></ion-spinner>

        <p>Cargando personajes...</p>

      </ion-col>

    </ion-row>

  </ion-grid>

}

  @if (error) {
    <ion-text color="danger">
      <p class="error">{{ error }}</p>
    </ion-text>
  }

  @if (!loading && apiPersonajes.length > 0) {
    <ion-grid class="card-grid">
      <ion-row>
        @for (personaje of filteredPersonajes; track personaje.id) {
          <ion-col size="6">
            <ion-card class="card" [routerLink]="['/tabs/personajes', personaje.id]">

              <ion-card-header>
                <ion-card-title>{{ personaje.name }}</ion-card-title>
              </ion-card-header>

            </ion-card>
          </ion-col>
        }
      </ion-row>
    </ion-grid>
  }

</ion-content>

