<ion-header>
<ion-toolbar class="logo-toolbar">

  <ion-title>
    <img
      src="assets/onePiece.jpg"
      class="logo"
      alt="One Piece Logo"
       [routerLink]="['/home']">
  </ion-title>

  <ion-buttons slot="end">
    <ion-button
      class="info-button"
      fill="solid"
      size="small"
      shape = "round"
      color="primary"
      [routerLink]="['/info']">
      Ver mi información
    </ion-button>
  </ion-buttons>

</ion-toolbar>
  </ion-header>

<ion-content class="ion-padding">

  <ion-text class="page">
    <h1 class="page-title">Sagas</h1>
    <p class="page-subtitle">Descubre las Sagas de OnePiece</p>
  </ion-text>

  @if (loading) {
    <ion-text>
      <p class="status-message">Cargando sagas...</p>
    </ion-text>
  }

  @if (error) {
    <ion-text color="danger">
      <p class="error">{{ error }}</p>
    </ion-text>
  }

  @if (!loading && apiSagas.length > 0) {
    <ion-grid class="card-grid">
      <ion-row>
        @for (saga of apiSagas; track saga.id) {
          <ion-col size="6">
            <ion-card class="card" [routerLink]="['/tabs/sagas', saga.id]">

              <ion-card-header>
                <ion-card-title>{{ saga.title }}</ion-card-title>
              </ion-card-header>

            </ion-card>
          </ion-col>
        }
      </ion-row>
    </ion-grid>
  }

</ion-content>
