<ion-header>
  <ion-toolbar>
    <ion-title>Sagas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-text class="page">
    <h1 class="page-title">Sagas</h1>
    <p class="page-subtitle">Descubre las Sagas de OnePiece</p>
  </ion-text>

  @if (loading) {
    <ion-text>
      <p class="status-message">Cargando sagas...</p>
    </ion-text>
  }

  @if (error) {
    <ion-text color="danger">
      <p class="error">{{ error }}</p>
    </ion-text>
  }

  @if (!loading && apiSagas.length > 0) {
    <ion-grid class="card-grid">
      <ion-row>
        @for (saga of apiSagas; track saga.id) {
          <ion-col size="6">
            <ion-card class="card" [routerLink]="['/tabs/sagas', saga.id]">

              <ion-card-header>
                <ion-card-title>{{ saga.title }}</ion-card-title>
              </ion-card-header>

            </ion-card>
          </ion-col>
        }
      </ion-row>
    </ion-grid>
  }

</ion-content>
