<ion-header>
<ion-toolbar class="logo-toolbar">
  <ion-buttons slot="start">
  <ion-menu-button class="menu-btn"></ion-menu-button>
</ion-buttons>

  <ion-title>
    <img
      src="assets/onePiece.jpg"
      class="logo"
      alt="One Piece Logo"
       [routerLink]="['/home']">
  </ion-title>

  <ion-buttons slot="end">
    <ion-button
      class="info-button"
      fill="solid"
      size="small"
      shape = "round"
      color="primary"
      [routerLink]="['/info']">
      Sobre
    </ion-button>
  </ion-buttons>

</ion-toolbar>
  </ion-header>

<ion-content class="ion-padding">
  @if (saga$ | async; as saga) {
  <ion-card class="card--saga-detail">

  <ion-back-button
    [defaultHref]="backHref"
    text=""
    icon="arrow-back">
  </ion-back-button>

  <ion-button
    fill="clear"
    class="favorite-button"
    (click)="toggleFavorite(saga)">

    <ion-icon
      slot="icon-only"
      size="large"
      [name]="isFavorite ? 'heart' : 'heart-outline'"
      [color]="isFavorite ? 'danger' : 'dark'">
    </ion-icon>

  </ion-button>

  <h1 class="saga-title">{{ saga.title }}</h1>

  <p><strong>Número de la Saga:</strong> {{ saga.saga_number }}</p>
  <p><strong>Capítulos:</strong> {{ cleanText(saga.saga_chapitre) }}</p>
  <p><strong>Volúmenes:</strong> {{ cleanText(saga.saga_volume) }}</p>
  <p><strong>Episodios:</strong> {{ cleanText(saga.saga_episode) }}</p>

</ion-card>
  }
</ion-content>
